<form (ngSubmit)="addBooking()" #eventForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="name" name="eventName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Start Date and Time</mat-label>
        <input matInput [matDatepicker]="startPicker" required [(ngModel)]="startDate" name="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <input type="time" required [(ngModel)]="startTime" name="startTime" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>End Date and Time</mat-label>
        <input matInput [matDatepicker]="endPicker" required [(ngModel)]="endDate" name="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <input type="time" required [(ngModel)]="endTime" name="endTime" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add</button>
</form>